.bkg1 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/BeechMountainCliffs.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg2 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/IslesfordLife.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg3 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/LowTideRocks.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg4 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/RocksAndFog.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg5 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/StormyStonyBeach.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg6 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/SunriseFromTheBeehive.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg7 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/SunriseFromTheBeehive2.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg8 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/SunriseWavesOnOtterCliff.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}

.bkg9 {
	background-image: url("https://cdn.kylasys.net/bhiqp/bkg/TheCadillacOfSunrises.jpg");
	background-repeat: no-repeat;
    background-position: left top;
	background-size: cover;
}
